body {
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	font-weight: bold;
	font-family: "PT Sans", "Arial", sans-serif;
}


.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
	outline: 1px solid red;
}


.clearfix {
	content: "";
	display: table;
	clear: both;
}


header {
	width: 1200px;
	margin: 0 auto;

	outline: 1px solid blue;
}


.header-logo {
	float: left;
	width: 140px;
	margin-right: 20px;

	outline: 1px solid green;
}


.header-nav {
	font-size: 0;
	float: left;
	width: 620px;

	outline: 1px solid green;
}


.header-user-block {
	float: right;
	width: 140px;

	outline: 1px solid green;
}


main {
	width: 1200px;
	margin: 0 auto;
	padding-top: 55px;
	padding-bottom: 49px;

	outline: 1px solid blue;
}


.header-text {
	font-size: 30px;
	line-height: 42px;
	color: #000000;
	font-weight: bold;
	font-family: "PT Sans", "Arial", sans-serif;

	margin-top: 0;
	margin-bottom: 25px;

	outline: 1px solid green;
}


.breadcrumbs {
	font-size: 0;
	line-height: 20px;
	color: #000000;
	font-weight: bold;
	font-family: "PT Sans", "Arial", sans-serif;

	margin: 0;
	margin-bottom: 55px;

	outline: 1px solid green;
}

.container-form-list {
	width: 100%;

	outline: 1px solid red;
}

.select {
	float: left;
	width: 220px;

	outline: 1px solid green;
}


.list {
	font-size: 0;
	float: right;
	width: 700px;

	outline: 1px solid green;
}


article {
	display: inline-block;
	font-size: 14px;
}


footer {
	width: 1200px;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 40px;

	outline: 1px solid blue;
}


.contacts {
	float: left;
	width: 380px;
	margin-right: 20px;

	outline: 1px solid green;
}


.social {
	float: left;
	width: 225px;

	outline: 1px solid green;
	height: 60px;
}


.copyright {
	float: right;
	width: 140px;

	outline: 1px solid green;
	height: 60px;
}


.container-gal-desc {
	width: 100%;

	outline: 1px solid red;
}


.gallery-item {
	float: left;
	width: 480px;

	outline: 1px solid green;
}


.image-item-carousel {
	font-size: 0;
}


.image-item-carousel li {
	display: inline-block;
}


.description-item {
	box-sizing: border-box;
	padding-left: 70px;
	float: left;
	width: 460px;

	outline: 1px solid green;
}


.header-nav li {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}


.breadcrumbs li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
}